.idea
/app/node_modules
/app/.pnp
/app/.pnp.js
/server/node_modules

/bot/node_modules
/bot/.pnp
/bot/.pnp.js


/coverage

/app/build
/app/.DS_Store
/app/.env.local
/app/.env.development.local
/app/.env.test.local
/app/.env.production.local

/app/npm-debug.log*
/app/yarn-debug.log*
/app/yarn-error.log*

/bot/build
/bot/.DS_Store
/bot/.env.local
/bot/.env.development.local
/bot/.env.test.local
/bot/.env.production.local

/bot/npm-debug.log*
/bot/yarn-debug.log*
/bot/yarn-error.log*